<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <img src="./assets/user.png" class="img-fluid" style="max-width: 400px;">
        <h1>Unleash Love Connections: Where Pets Find Their 'Purr-fect' Match on PawMatch!</h1>
        <p class="lead">Join the Paw-sibilities: Sign Up and Fetch Your Love Match Today!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-success btn-lg me-2">Register</button>
            <button class="btn btn-info btn-lg">Learn More</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>